.feed{
    .container{
        display: flex;
        gap: 50px;
    }
    .title{
        color: gray;
        font-weight: 600;
    }
    .left-part{
        flex: 2;
        overflow-y: auto;
        margin-top: 20px;
    }
    .right-part{
        flex: 1;
        height: 400px;
        margin-top: 40px;
        .card{
            box-shadow: 0 0 15px -2px rgb(0 0 0 / 0.2);
            padding:20px;
            border-radius: 6px;
            .list{
                padding: 5px;
            }
        }
    }
    .title{
        margin-bottom: 12px;
    }
    .suggestions{
        margin-top: 40px;
    }
}